


@import "reset";
@import "variables";


* {
  box-sizing: border-box;
}
body {
  font-family: lato, sans-serif;
}
.list {

  list-style-type: none;
}

h1 {
  font-size: xx-large;
  font-family: $Lato;
}
p {
  font-family: $Lato;
}

a {
  text-decoration: none;
  font-family: latoregular, sans-serif;
  &:visited {
    color: #000;
  }
  &:hover {
    color: $purpleColor;
  }


}
header {
  .cls-1, .cls-2, .cls-4 {
    fill: $whiteColor;
  }
  .cls-1, .cls-2 {
    stroke: $whiteColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-opacity: 0.1;
    transition:1s;
  }
  .cls-1:hover,
  .cls-2:hover {
    stroke: $purpleColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-opacity: 1;
    fill: $purpleColor;
  }

  .cls-1, .cls-2, .diamond {
    fill-rule: evenodd;
  }
  .cls-3, .cls-4, .diamond {
    font-size: 18px;
  }
  .cls-4 {
    text-anchor: middle;
    font-family: latoregular, sans-serif;
  }
}


  .cls-1, .cls-2 {
    stroke: $whiteColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-opacity: 0.1;
    fill-rule: evenodd;

  }
  .cls-1:hover,
  .cls-2:hover {
    stroke: $purpleColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-opacity: 0.1;
    fill: $purpleColor;

  }
  .cls-1, .cls-2 {
    fill: $whiteColor;
  }




.header {
  background-image: url("../images/Layer2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 56%;
  height: 0;
  width:100%;
  border: 1px solid blue;
  .icon-container-two {
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    justify-content: center;
    .flex-item {
      width: 11.9% ;
      border:2px dashed white;
    }
    li:first-child {
      margin-right: 1.5%;
    }


  }
  .icon-container-four {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .icon-side {
      width:$iconWidth * 1.5;
      margin:0;
      padding:0;
      display:flex;
      justify-content: space-between;
      .flex-item{
        width: 50%;
        border:2px dashed white;
      }
      li:first-child {
        margin-right: 5%;
      }

    }
  }


}

//Center everything on the site
.centerElement {
  max-width: 1170px;
  margin: 0 auto;
  width:85%;
  border: 1px solid red;
}
//end center

.jumbotron{
  text-align: center;
  height: 20%;

  background-repeat: no-repeat;
  background-position: center;
  h1 {
    padding-bottom: 0.2rem;

    color: white;

  }
  p {
    padding-bottom: 2%;

    color: white;
  }
  img {
    padding: 1rem 0;
    width: 50%;
    border:2px dashed white;

  }
}
.jumbotronMenu {

  border: 3px solid pink;
  width: 100% ;
  height: 20%;

}




.arrow {
  text-align: center;
  svg {
    width: 6%;
  }
}



.menu {
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  background: $whiteColor;
  li {
    display: inline-block;
    &:first-child {
      padding-left: 10px;
    }
  }
  img {
    width: 15%;
    height: 10%;
    border:2px dashed white;
  }

}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  background-color: $whiteColor;
}
#about {
  background: #ccd0d2;
  background-size: 100% auto;

  width: 100%;
}

.about {
  .flexbox-about {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-around;

    .flex-about-item {
      text-align: center;
      border: 1px solid red;
      padding-top: 70px;
      a {
        color: #707070;
      }
      svg {
        width: 50%;
        border:2px dashed white;
      }
    }

  }
}


.about-container {
  display: flex;
  flex-wrap: nowrap;
  flex-flow:row;
  justify-content: space-between;
  img {
    width: 100%;
  }

}


#team {
  background-image: url("../images/quoteBackground.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 40%;
  height: 0;
  width: 100%;
  border: 1px solid blue;
}

.quote {
  padding-top: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: white;
    padding-top: 1rem;
  }
}


.team-header {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  span {
    color: $purpleColor;
  }
}
.flexbox-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.team-slider {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  img {
    border-radius: 100%;
  }
  h1 {
    padding-top: 2rem;

  }
  p {
    padding: 1rem 0;
  }
  li {
    padding-bottom: 2rem;
    &:first-child {
      padding-right: 1rem;
    }
  }
}



//skill section
.skill-section {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;

  div {
    &:first-child {
      margin-right: 2rem;
    }
  }
}

.skill-section-right {
  margin-bottom: 4rem;
}


.skillbar {
  position:relative;
  display:block;
  margin-bottom:1rem;
  width:20%;
  background:#eee;
  height:15px;


  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-size:0.9rem;
  color:$grayColor;
  background:#6adcfa;
}

.skillbar-title span {
  display:block;
  padding:0  1rem;
  height:15px;
}

.skillbar-bar {
  height:15px;
  width :0;

  background: #f0f0f0;
}

.skill-bar-percent {
  position:absolute;
  right:0.5rem;
  top:0;
  font-size:1rem;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.5);
}
//end skill section

//Services statistics

#services {
  background-color: $grayColor;
  width: 100%;
  background-size: 100% auto;
  .statistic {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 0;
  }
}

//End service statistics

//Quotes slider
.quotes-slider {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    border-radius: 100%;
  }
  p {
    padding: 0.7rem 0;
  }
  h2 {
    padding-bottom: 2rem;
  }
}


//End quotes Slider


//Gallery

.gallery-tags {
  a {
    border: 1px solid black;
    border-radius: 10%;
    padding:0.4rem 0.7rem;
  }
  a:hover {
    background: $purpleColor;
    color: #ffffff;
  }
  li {
    padding: 0.4rem;
    &:last-child {
      padding-right: 0;
    }
  }

}




//End Gallery
















